@use "../utils/mixins.scss" as *;

.button-predict {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;

  @include breakpoint-down("xs") {
    padding: 5px 10px;
  }
  @include breakpoint-down("sm") {
    padding: 8px 15px;
    gap: 10px;
  }
}

.button-icon {
  @include breakpoint-down("xs") {
    font-size: 14px;
  }
  @include breakpoint-down("sm") {
    font-size: 16px;
  }
}

.menu-btn {
  // border-radius: 50%;
  background-color: var(--color-sky-100);
}
