<nav class="flex border-b px-4 py-2">
  <div class="flex items-center gap-4">
    <a href="/" class="flex gap-2">
      <div class="pulse">
        <span class="material-symbols-outlined font-medium text-stone-700">
          heart_plus
        </span>
      </div>
      <h2
        class="text-[#111518] text-lg font-bold leading-tight tracking-[-0.015em]"
      >
        Health Insights
      </h2>
    </a>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <a class="text-[#111518] text-sm font-bold leading-normal" href="#"
        >About</a
      >
      <div
        class="bg-gray-300 p-1 w-10 h-10 rounded-full flex items-center justify-center"
      >
        <span class="material-symbols-outlined text-stone-700">bookmark</span>
      </div>
    </div>
    <a
      href="/src/pages/predict.html"
      class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-3xl h-10 px-4 bg-[#1982e5] text-white text-sm font-bold leading-normal tracking-[0.015em]"
    >
      <span class="truncate">Get Started</span>
    </a>
  </div>
</nav>
