*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.9;
  color: var(--color-gray-900);
  background-color: var(--color-bg);
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
