:root {
  --color-bg: #f3f3f3;
  --color-header-bg: hsl(240, 37%, 20%);
  --color-text: #444;
  --color-dark-text: #111518;
  --color-light-text: #666;
  --color-sky-500: #0ea5e9;
  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;

  --color-body-demo: #777;
}
