:root {
  --color-bg: #f3f3f3;
  --color-header-bg: hsl(240, 37%, 20%);
  --color-text: #444;
  --color-dark-text: #111518;
  --color-light-text: #666;

  --color-primary: #55c57a;
  --color-primary-light: #7ed56f;
  --color-primary-dark: #28b485;
  --color-sky-0: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-200: #bae6fd;
  --color-sky-300: #90cdf4;
  --color-sky-400: #67b2eb;
  --color-sky-500: #0ea5e9;

  --color-lime-50: #f7fee7;
  --color-lime-100: #ecfccb;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;
  --color-lime-400: #a3e635;
  --color-lime-500: #84cc16;
  --color-lime-600: #65a30d;
  --color-lime-700: #4d7c0f;
  --color-lime-800: #3f6212;
  --color-lime-900: #365314;

  --color-red-500: #ef4444;
  --color-red-400: #f87171;
  --color-red-300: #fca5a5;
  --color-red-200: #fca5a5;
  --color-red-100: #fee2e2;
  --color-red-50: #fef2f2;
  --color-red-600: #dc2626;
  --color-red-900: #7f1d1d;
  --color-gray-900: #1f2937;
  --color-gray-800: #374151;
  --color-gray-700: #4b5563;
  --color-gray-600: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-400: #d1d5db;
  --color-gray-300: #e5e7eb;
  --color-gray-200: #f3f4f6;
  --color-gray-100: #f9fafb;
  --color-gray-50: #fdfdfd;
  --color-sky-700: #0284c7;
  --color-sky-800: #0369a1;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #bbf7d0;
  --color-green-300: #86efac;
  --color-green-400: #4ade80;
  --color-green-500: #22c55e;
  --color-green-600: #16a34a;
  --color-green-700: #15803d;
  --color-green-800: #166534;
  --color-green-900: #14532d;

  --color-body-demo: #777;

  --color-dark-500: #111;
  --color-dark-600: #222;
  --color-dark-700: #333;
  --color-dark-800: #444;
  --color-dark-900: #555;
}
